main{  
    h2{
        color:$borkh2;
    }
    section{
        >h2{
            font-size:$header2Size;
        }
        p{
            span{
                display: inline-block;
                @include spin(90deg);
            }
        }
    }
}